.main {
    max-width: 600px;
}

.dropArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
    width: 568px;
}

.submit {
    display: flex;
    direction: ltr;
    justify-content: flex-end;
    gap: calc(var(--offset-base-size)  * 10);
}

.total {
    display: flex;
    align-items: center;
}