.cards {
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size)  * 4);
    max-height: 760px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: calc(var(--offset-base-size)  * 2);
}