.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--offset-base-size)  * 5);
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--offset-base-size)  * 2);
}