.main {
    max-width: 272px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    contain: paint;
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
}

.name {
    text-align: center;
}